/****** Script for SelectTopNRows command from SSMS  ******/
SELECT pbp.[GameID]
      ,[VisitingTeam]
      ,[Inning]
      ,[BattingTeam]
      ,[Outs]
      ,[Balls]
      ,[Strikes]
      ,[PitchSequence]
      ,[VisitorScore]
      ,[HomeScore]
      ,[Batter]
      ,[BatterHand]
      ,[ResBatter]
      ,[ResBatterHand]
      ,[Pitcher]
      ,[PitcherHand]
      ,[ResPitcher]
      ,[ResPitcherHand]
      ,[Catcher]
      ,[FirstBase]
      ,[SecondBase]
      ,[ThirdBase]
      ,[Shortstop]
      ,[LeftField]
      ,[CenterField]
      ,[RightField]
      ,[FirstRunner]
      ,[SecondRunner]
      ,[ThirdRunner]
      ,[EventText]
      ,[LeadoffFlag]
      ,[PinchHitFlag]
      ,[DefensivePosition]
      ,[LineupPosition]
      ,[EventType]
      ,[BatterEventFlag]
      ,[AbFlag]
      ,[HitValue]
      ,[SHFlag]
      ,[SFFlag]
      ,[OutsOnPlay]
      ,[DoublePlayFlag]
      ,[TriplePlayFlag]
      ,[RBIOnPlay]
      ,[WildPitchFlag]
      ,[PassedBallFlag]
      ,[FieldedBy]
      ,[BattedBallType]
      ,[BuntFlag]
      ,[FoulFlag]
      ,[HitLocation]
      ,[NumErrors]
      ,[FirstErrorPlayer]
      ,[FirstErrorType]
      ,[SecondErrorPlayer]
      ,[SecondErrorType]
      ,[ThirdErrorPlayer]
      ,[ThirdErrorType]
      ,[BatterDest]
      ,[RunnerOn1stDest]
      ,[RunnerOn2ndDest]
      ,[RunnerOn3rdDest]
      ,[PlayOnBatter]
      ,[PlayOnRunnerOn1st]
      ,[PlayOnRunnerOn2nd]
      ,[PlayOnRunnerOn3rd]
      ,[SBForRunnerOn1stFlag]
      ,[SBForRunnerOn2ndFlag]
      ,[SBForRunnerOn3rdFlag]
      ,[CSForRunnerOn1stFlag]
      ,[CSForRunnerOn2ndFlag]
      ,[CSForRunnerOn3rdFlag]
      ,[POForRunnerOn1stFlag]
      ,[POForRunnerOn2ndFlag]
      ,[POForRunnerOn3rdFlag]
      ,[ResponsiblePitcherForRunnerOn1st]
      ,[ResponsiblePitcherForRunnerOn2nd]
      ,[ResponsiblePitcherForRunnerOn3rd]
      ,[NewGameFlag]
      ,[EndGameFlag]
      ,[PinchRunnerOn1st]
      ,[PinchRunnerOn2nd]
      ,[PinchRunnerOn3rd]
      ,[RunnerRemovedForPinchRunnerOn1st]
      ,[RunnerRemovedForPinchRunnerOn2nd]
      ,[RunnerRemovedForPinchRunnerOn3rd]
      ,[BatterRemovedForPinchHitter]
      ,[PositionOfBatterRemovedForPinchHitter]
      ,[FielderWithFirstPutout]
      ,[FielderWithSecondPutout]
      ,[FielderWithThirdPutout]
      ,[FielderWithFirstAssist]
      ,[FielderWithSecondAssist]
      ,[FielderWithThirdAssist]
      ,[FielderWithFourthAssist]
      ,[FielderWithFifthAssist]
      ,[EventNum]
  FROM [Retrosheet].[stage].[PlayByPlay] pbp
	Join (Select GameId
		, Max(eventnum) as Finalevent
			From stage.PlayByPlay
			Group By GameID) endgame
			on pbp.GameID = endgame.GameID
			and pbp.EventNum = endgame.Finalevent
  where (BatterDest = 4
	or RunnerOn1stDest = 4
	or RunnerOn2ndDest = 4
	or RunnerOn3rdDest = 4)
	and WildPitchFlag = 'T'
	and BatterEventFlag = 'F'
  
  

